.nav{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    @include adaptTo('desktop'){
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        background-color: #4D1F5B;
        padding: 70px 60px;
        margin: 0 auto;
    }
    @include adaptTo('desktop-xl'){
        border-radius: 20px;
    }

    &__link{
        font-size: 24px;
        font-weight: 700;
        color: #4D1F5B;
        background-color: #EEE4F1;
        border-radius: 100px;
        margin: 20px auto;
        width: 90%;
        max-width: 500px;
        cursor: pointer;
        padding: 60px 20px;
        @include adaptTo('desktop'){
            margin: 0px 10px;
            width: 31%;
        }
            
        
    }
}