/*
            <section class="section">
                <h3 class="section__title">CHARACTER FINDER</h3>
                <div class='section__finder>
                    <i class="section__icon fa-solid fa-magnifying-glass"></i>
                    <input class='section__input type="text" placeholder="Busca el personaje que quieras..."></input>
                </div>
                <section class="section__container">
                    ${personajesCards}
                </section>
                <button class="section__more">+MORE</button>
            </section>
*/
.section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $senary-color;
    &__title{
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        background-color: $nine-color;
        text-align: center;
        padding: 10px;
        @include adaptTo ('not-mobile'){
            font-size: 18px;
        }
        @include adaptTo('desktop-xl'){
            border-radius: 0  0 20px 20px;
        }
    }
    &__finder{
        background-color: $secondary-color;
        width: 300px;
        max-width: 700px;
        height: 45px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin: 30px 10px 20px 10px;
        border-radius: 50px;
        border-radius: 100px;
        border-radius: 100px;
        padding: 5px;
        box-shadow: 0px 5px 5px 0px #a1a1a1, inset 0px 0px 10px 0px #ffffff;
        @include adaptTo ('not-mobile'){
            width: 80%;
        }
    }
    &__icon{
        font-size: 30px;
        width: 30px;
        margin: 20px;
    }
    &__input{
        outline: none;
        font-size: 18px;
        border-left: 1px solid #C1B6B6;
        width: 80%;
        padding-left: 10px;
        @include adaptTo ('not-mobile'){
            font-size: 24px;
        }
    }
    &__container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        width: 100%;
     
  
    }
    &__more{
        font-size: 16px;
        font-weight: 700;
        min-width: 120px;
        min-height: 30px;
        max-width: 180px;
        margin: 45px auto 45px auto;
        background-color: $senary-color;
        color: $secondary-color;
        padding: 5px 15px;
        border-radius: 50px;
        @include adaptTo ('not-mobile'){
            font-size: 24px;
            padding: 15px 45px;
            border: 1px solid black;
        }
    }
    &__resident{
        border-radius: 100px;
        width: 90px;
        margin: 10px;
        
    }
    &__episode{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;

        &--character{
            margin: 10px;
            border-radius: 100px;
            padding: 10px 20px;
            background-color: $quinary-color;
            color: $senary-color;
            font-size: 18px;

        }

        &--seasons{
            width: 95%;
            border-radius: 50px;
            background-color: $quinary-color;
            color: $senary-color;
            padding: 10px 20px;
            margin: 20px 10px;
            text-align: center;
        }
    }
}