
$primary-color: #000000;
$secondary-color:#ffffff;
$tertiary-color:#8F8F8F;
$quaternary-color:#F3F3F3;
$quinary-color:#EEE4F1;
$senary-color:#4D1F5B;
$septenary-color:#81CE7F;
$octonary-color:#A6A6A6;
$nine-color: #BEA1C7;
$ten-color: #D85252;
$eleven-color:#BBBBBB;
$twelve-color:#F9F9F9;